body {
  box-sizing: border-box;
  margin: 0;
  background: #ff9966;
  background: -webkit-linear-gradient(to right, #ff5e62 #ff9966);
}

.contenedor {
  background-color: white;
  height: calc(100vh - 20px);
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 30px 0 30px;
}
h1,
h2 {
  text-align: center;
  font-family: "IBM plex serif", serif;
}
h2 {
  color: white;
}
.contenedor-flex {
  display: flex;
  flex-direction: row;
  height: 400px;
  border: solid 3px black;

  flex-wrap: wrap;
  /* ----------------- */
  /* ALINEAR ELEMENTOS */
  /* ----------------- */
  justify-content: space-evenly;

  /* -----------------..... */
  /* ALINEAR VERTICALMENTE */
  /* -------------------- */
  align-items: center;
}
.elemento-flex {
  padding: 10px;
  /* flex: 1 0 auto; */
  /*  flex-grow: 1; */
}
.elemento-flex:nth-child(1) {
  background-color: #e53935;
  /*   flex-basis: 50%; */
  align-self: flex-start;
}
.elemento-flex:nth-child(2) {
  background-color: #8e24aa;
  align-self: center;
  /*  order: ;
  flex-grow: ; */
}
.elemento-flex:nth-child(3) {
  background-color: #3f5185;
  align-self: flex-end;
  /*  order: ; */
}
